@model IEnumerable<RoleType>
@{
    ViewData["Title"] = "Role - Admin Page - eCommerce Shop";
}
<div class="my-3">
    <h1>All Roles</h1>
    <table class="my-3 table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach(RoleType item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>