@model LoginModel
@{
    ViewData["Title"] = "Login - eCommerce Shop";
}
<h1>Login</h1>

<div class="row">
    <form method="post" class="col-4">
        <div class="mb-3">
            <label>Email</label>
            <input asp-for="Email" class="form-control">
        </div>
        <div class="mb-3">
            <label>Password</label>
            <input asp-for="Password" type="password" class="form-control">
        </div>
        <div class="form-check mb-3">
            <input asp-for="Rem" class="form-check-input">
            <label asp-for="Rem" class="form-check-label">Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
<div class="text-danger mt-3">@ViewBag.Message</div>